In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
df=pd.DataFrame({"years_of_Experience":[2,4,9,11,13,19,21,27,30],"salary":[100,120,130,182,220,270,292,310,385]})
df

   years_of_Experience  salary
0                    2     100
1                    4     120
2                    9     130
3                   11     182
4                   13     220
5                   19     270
6                   21     292
7                   27     310
8                   30     385

In [9]:
# y=mx+c

In [11]:
mean_x=df['years_of_Experience'].mean()
mean_x

15.11111111111111

In [14]:
x_x_bar=0

for i in df['years_of_Experience']:
    c=i-mean_x
    x_x_bar=x_x_bar+c
print(x_x_bar)

-3.552713678800501e-15

In [15]:
mean_y=df['salary'].mean()
mean_y

223.22222222222223

In [17]:
y_y_bar=0
for i in df['salary']:
    c=i-mean_y
    y_y_bar=y_y_bar+c
print(y_y_bar)

-5.684341886080802e-14

In [25]:
# denominator : (x - x_bar) square

deno=0
for i in df['years_of_Experience']:
    c=(i-mean_x)**2
    deno = deno + c
print(deno)

766.8888888888888

In [26]:
x_x_bar*y_y_bar

2.0194839173657902e-28

In [27]:
2.0194839173657902e-28/deno

2.633346168689092e-31

In [29]:
m=(x_x_bar)*(y_y_bar)/(deno)
m

2.633346168689092e-31

In [30]:
df

   years_of_Experience  salary
0                    2     100
1                    4     120
2                    9     130
3                   11     182
4                   13     220
5                   19     270
6                   21     292
7                   27     310
8                   30     385

In [31]:
import sklearn

In [33]:
from sklearn.linear_model import LinearRegression

In [36]:
reg=LinearRegression()

In [37]:
x=df['years_of_Experience']  # independet mean x
y=df['salary'] # dependet y

In [38]:
x.shape

(9,)

In [39]:
x.ndim

1

In [ ]:
x=x.values().reshape(-1,1)

In [52]:
x.shape

(9, 1)

In [46]:
x.ndim

2

In [47]:
reg.fit(x,y)

LinearRegression()

In [49]:
reg.coef_  # m value

array([9.82642712])

In [50]:
reg.intercept_  # c value

74.73399014778329

In [ ]:
# y=9.8264712*x+74.73399